<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Animal classes</string>
	<key>Summary</key>
	<string>An empty Swift file</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Animal File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___Animal.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>className</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Class Name:</string>
			<key>Description</key>
			<string>The name of the Animal File to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>animalName</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the Animal</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>animalAge</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Age:</string>
			<key>Description</key>
			<string>The age of the Animal</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>animalWeight</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Weight:</string>
			<key>Description</key>
			<string>The weight of the Animal</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>
